<app-player (click)="openDialogSelectAvatar(i)" *ngFor="let player of game.players; let i = index;" 
    [ngStyle]="{'top.px': 100 + (i * 90)}" 
    [playerActive]="i == game.currentPlayer"
    [image]="game.player_images[i]"
    [name]="player"
    class="player-position hide-mobile">
</app-player>

<div class="scroll-container hide-desktop">
    <app-player-mobile (click)="openDialogSelectAvatar(i)" *ngFor="let player of game.players; let i = index;" 
        class="hide-desktop"
        [playerActive]="i == game.currentPlayer"
        [image]="game.player_images[i]"
        [name]="player">
    </app-player-mobile>
</div>

<div class="field">

    <div class="card-stack">
        <!-- Card stack -->
        <img *ngFor="let c of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="/assets/img/new-cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px;" 
            src="/assets/img/new-cards/card_cover.png"> 
            
        <!-- Stack for played cards -->    
        <img *ngFor="let card of game.playedCards" class="played-card" src="/assets/img/new-cards/{{ card }}.png">    

        <!-- Current card (Animation) -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px;" 
            src="/assets/img/new-cards/{{ game.currentCard }}.png">  
    </div>

</div>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" (click)="openDialogAddPlayer()" class="btn-add hide-mobile">
    <mat-icon>add</mat-icon>
</button>

<button mat-fab color="primary" (click)="openDialogAddPlayer()" class="btn-add hide-desktop">
    <mat-icon>add</mat-icon>
</button>